.navbar-container {
  background: black;
  display: flex;
  flex-direction: column;
}


.navbar-top {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  flex-wrap: wrap;
}


.navbar-form input {
  width: 200px;
  margin-right: 5px;
  border: none;
  height: 30px;
  border-radius: 5px;
}

.navbar-form button {
  height: 30px;
  color: red;
  border: none;
  background: black;
}

.navbar-bottom {
  background-color: grey;
  padding: 17px;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 40px);
}

.continue-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 90%;
}

.form label{
  margin-right: 140px;
  font-weight: bolder;
}

.form input{
  width: 100%;
  height: 30px;
  border: 2px solid black;
  margin-bottom: 20px;
}

.form button {
  width: 40%;
  align-self: center;
  background-color: black;
  color: yellow;
  font-weight: bold;
}

.home-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#ProductList {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.home-content {
  /* border: 1px solid slateblue; */
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.login-container {
  display: flex;
  border: 2px solid black;
  width: 80%;
  height: 60%;
  background-color: rgba(255, 255, 0, 0.1);
}

.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96vh;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  border-right: 1px solid black;
}

.img-container img {
  width: 100%;
  height: 100%;
}

.login {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.heading-container {
  text-align: center;
  margin-top: 10px;
  width: 100%;
  height: 30px;
}

.errors {
  color: red;
  border: 1px solid red;
  border-radius: 2px;
  padding: 2px;
}

.products {
  text-align: center;
  padding: 1rem;
  width: 25rem;
  height: 40rem;
  display: inline-grid;
  margin: 1rem 2rem;
  cursor: pointer;
}

.productsImg {
  justify-self: center;
  height: 6rem;
  width: 150px;
  height: 200px;
}

.rating {
  width: 100%;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating > label {
  padding: 0;
  justify-content: center;
  position: relative;
  width: 1.1em;
  cursor: pointer;
  color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}

.star {
  font-size: 40px;
}

.clear {
  float: none;
  clear: both;
}

.comment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 3px solid red;
  margin-top: 80px;
  height: calc(100vh - 110px);
}

.comment-product img{
  width: 200px;
}

.comment-product{
  /* border: 1px solid black; */
  display: flex;
  min-width: 200px;
  width: 300px;
  height: 300px;
}

.comments{
  border: 3px solid black;
  display: flex;
  border-radius: 5px;
}

.comment-product h3 {
  font-size: 15px;
  align-self: center;
}

.comment-content {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  width: 300px;
}

.comment-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-text input {
  width: 200px;
  margin-bottom: 10px;
}

.comment-text textarea {
  width: 200px;
  height: 100px;
  margin-bottom: 10px;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 40px);
  border: 3px solid black;
}

.comment textarea {
  width: 500px;
  height: 200px;
}

.comment input {
  width: 500px;
  margin-bottom: 20px;
}

.product-image {
  width: 200px;
}


article {
  color: #333;
  border-radius: .25rem;
  border-color: rgba(0, 0, 0, .1);
  border-style: solid;
  border-width: 1px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 32rem;
  margin-right: auto;
  margin-left: auto;
  max-height: 100rem;
  padding: 50px;
}

img {
  display: block;
  width: 100%;
  border-radius: .25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
}

.product-info {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  max-width: 1800px;
  min-width: 475px;
}

.product-page {
  width: 100%;
  height: 100vh;
}

.product-info img{
  height: clamp(300px, 50%, 400px);
  width: clamp(300px, 50%, 400px);
  margin-top: 50px;
}

.product-description {
  display: flex;
  flex-direction: column;
  width: clamp(500px, 50%, 700px);
  min-height: 400px;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 100px;
}

.product-description button {
  width: 200px;
}

.review-container {
  display: flex;
  /* border: 1px solid black; */
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
}

.review-button {
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
  width: 300px;
  min-width: 200px; 
}

.review-button button {
  width: 150px;
  align-self: center;
  margin-top: 40px;
}

.reviews {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  width: calc(100% - 300px);
  min-width: 200px;
  align-items: center;

}

.comments-container {
  text-align: center;
  padding: 1rem;
  width: 60%;
  display: inline-grid;
  margin: 1rem 2rem;
}

.comment-section {
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
}

.edit-buttons {
  float: right;
  margin-top: 5px;
  margin-right: 2px;
}

.review-heading {
  display: flex;
  float: left;
  width: calc(100% - 60px);
  align-items: center;
}

.review-heading h6 {
  margin-left: auto;
  margin-right: 5px;
}

.review-title {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.review-title h3 {
  align-self: flex-start;
}

.fade-in {
  opacity: 1;
}

.card-wrapper {
  padding: 3rem .5rem .5rem .5rem;
  cursor: pointer;
}

.header-wrapper {
  width: 100%;
  margin-top: .25rem;
  display: flex;
  flex-direction: column;
}

.h1-wrapper {
  display: table-cell;
}

.h2-wrapper {
  display: table-cell;
  text-align: right;
  padding-left: 10px;
  min-width: 59px;
}

.copy {
  font-size: .875rem;
  line-height: 1.5;
  max-width: 30em;
  margin-top: 3rem;
  color: #555;
}

.cart-container {
  border: 1px solid black;
  border-radius: 15px;
  overflow-y: scroll;
  text-align: center;
  height: 90%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.shopping-cart-container {
  height: calc(100vh - 122px);
  display: flex;
  justify-content: space-around;
}

.cart-content {
  width: clamp(200px, 70%, 700px);
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

.text {
  text-overflow: ellipsis;
  display: block;
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  font-size: clamp(5px, 2vw, 15px);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cards {
  display: flex;
}

.card-image {
  width: 30%;
  margin-right: 20px;
}

.card-image img {
  height: 100%;
  width: 100%;
}

.card-form-button {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.delete {
  color: white;
  background: red;
}

.checkout {
  border: 1px solid black;
  border-radius: 15px;
  width: 30%;
  height: 50%;
  display: flex;
  align-self: center;
  flex-direction: column;
}

.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.user-info {
  margin-bottom: auto;
  width: 30%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.orders-container {
  width: clamp(200px, 70%, 700px);
  margin-top: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

.order-content {
  /* border-style: inset;
  border-color: black; */
  border-bottom: groove;
  padding-bottom: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.order-item {
  display: flex;
  background-color: white;
}

.item-image {
  width: 30%;
  margin-right: 20px;
}

.item-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.item-name {
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  width: 70%;
  font-size: clamp(5px, 2vw, 15px);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}

.edit-button {
  margin-right: 10px;
  border-radius: 10px;
  background-color: yellow;
  border-color: yellow;
  width: clamp(100px, 10vw, 200px);
  font-size: clamp(10px, 1vw, 15px);
}

.buy-again-button {
  border-radius: 10px;
  background-color: teal;
  border-color: teal;
  width: 100px;
  width: clamp(100px, 10vw, 200px);
  font-size: clamp(10px, 1vw, 15px);
}

.item-review {
  border-radius: 5px;
  /* border-style:outset; */
  display: flex;
  justify-content: center;
  width: 90%;
  margin-top: 10px;
  height: 60%;
  margin-bottom: 10px;
}

.item-review-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-review-description {
  border-style:groove;
  width: 90%;
  font-weight: lighter;
  height: 50%;
  overflow-y: scroll;
}

.add-to-cart-button {
  background-color: turquoise;
  width: 30px;
}


